@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">recruitment welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Dotnet core </a>.</p>
</div>
